/* 所有的标签 */
@tailwind base;
/* 公共组件 */
@tailwind components;
@tailwind utilities;

/* $icy-morn:#afd2d3;
$peachy-dust:#debdb3;
$first-date:#f4b09e;
$pale-beach:#d8c5aa;
$white: #f6f6f6; */

@layer base {
    html,
    body {
      padding: 0;
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      /* background:#9DD9D2; */
      /* display:flex;  */
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }
    
    * {
      box-sizing: border-box;
    }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* .card {
  @apply border border-red-300 rounded-lg overflow-hidden;
} */